<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h2>Cadastro de Pessoa 👤</h2>
        <form>
          <div class="form-group mt-2">
            <label for="complement">Nome</label>
            <input
              type="text"
              class="form-control"
              id="description"
              placeholder="Nome da pessoa"
              name="description"
            />
          </div>
          <div class="btn-group mt-3" role="group">
            <button class="btn btn-primary btn-sm">Salvar</button>
            <button class="btn btn-danger btn-sm">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  