<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Lista de Endereços</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h1>Lista de Endereços</h1>
        <a th:href="@{/address/new}" class="btn btn-success">Adicionar</a>
    </div>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Rua</th>
            <th>Número</th>
            <th>CEP</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Zona</th>
            <th>Observação</th>
            <th>Moradias</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.street}">Rua</td>
            <td th:text="${address.number}">Número</td>
            <td th:text="${address.cep}">CEP</td>
            <td th:text="${address.neighbourhood}">Bairro</td>
            <td th:text="${address.city}">Cidade</td>
            <td th:text="${address.zone}">Zona</td>
            <td th:text="${address.observation}">Observação</td>
            <td th:text="${#lists.size(address.homes)}">0</td>
            <td>
                <a th:href="@{/addresses/{id}(id=${address.id})}" class="btn btn-primary">Abrir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
