<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Moradias 🏡</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Cadastro de Moradias 🏡</h2>
    <form id="address-form" th:object="${address}" th:action="@{/address}" method="post">
        <div class="form-group">
            <label for="street">Rua:</label>
            <input type="text" class="form-control" id="street" th:field="*{street}"/>
        </div>
        <div class="form-group">
            <label for="number">Número:</label>
            <input type="text" class="form-control" id="number" th:field="*{number}"/>
        </div>
        <div class="form-group">
            <label for="cep">CEP:</label>
            <input type="text" class="form-control" id="cep" th:field="*{cep}"/>
        </div>
        <div class="form-group">
            <label for="neighbourhood">Bairro:</label>
            <input type="text" class="form-control" id="neighbourhood" th:field="*{neighbourhood}"/>
        </div>
        <div class="form-group">
            <label for="city">Cidade:</label>
            <input type="text" class="form-control" id="city" th:field="*{city}"/>
        </div>
        <div class="form-group">
            <label for="zone">Zona:</label>
            <select class="form-control" id="zone" th:field="*{zone}">
                <option th:each="zone : ${T(com.viniciusfinger.rsflood.enums.HomeZone).values()}" th:value="${zone}"
                        th:text="${zone.getDescription()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="observation">Observação:</label>
            <input type="text" class="form-control" id="observation" th:field="*{observation}"/>
        </div>
        <div class="form-group">
            <label>Residências:</label>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:each="home, iterStat : ${address.homes}">
                    <span th:text="${home.description}">Descrição da residência</span>
                    <button type="button" class="btn btn-danger btn-sm"
                            th:onclick="'removeHome(' + ${iterStat.index} + ')'">Remover
                    </button>
                </li>
            </ul>
            <a href="/home/new" id="create-home" class="btn btn-primary mt-2">Adicionar</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/address" class="btn btn-secondary ml-2">Cancelar</a>
        </div>
    </form>
</div>
<div class="b-2"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById("create-home").addEventListener("click", function () {
        document.getElementById("address-form").submit();

        var formulario = document.getElementById("address-form");
        console.log(formulario);
        console.log("Botão 'create-home' clicado!");
    });
</script>
</body>
</html>
